---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MapView from "../components/Map.astro";
---

<Layout title="Geoportal GovTech - Demo">
    <Header />
    <div class="main-content">
        <MapView />
    </div>
</Layout>
